* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    background: -webkit-linear-gradient(#F15B27, #F69E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}